<h1>Subcats</h1>

<a href="/category/new">
<button class="createButton">
    Create Sub Category
</button>
</a>

{{#each allSubCat}}
    <a href="/category/{{_id}}/subCat">
        <p class="category">{{category}}</p>
        <p class="description">{{description}}</p>
        <p class="picture">{{picture}}</p>
    </a>
{{/each}}