<a href="/allergy">
    <input class="allButton" type="submit" value="Back to Allergy" />
</a>


<a href="/mentalHealth">
    <input class="allButton" type="submit" value="Back to Main Mental Health" />
</a>

<a href="/handicap">
    <input class="allButton" type="submit" value="Back to Handicap" />
</a>