<h1>DISAVAILABILITY</h1>

<div class="main-landing-boxes">
    <a href="/allergy">
        <img src="/plate.png" alt="image of a plate with fork and knife crossed" />
        <input class="allButton" type="submit" value="Dietary Preference" />
    </a>


    <a href="/mentalHealth">
        <img src="/mental.png" alt="image of a head silhouette with a heart for a brain" />
        <input class="allButton" type="submit" value="Mental Health Consciousness" />
    </a>

    <a href="/handicap">
        <img src="/handicap.png" alt="image of a person in a wheelchair" />
        <input class="allButton" type="submit" value="Handicap Accessibility" />
    </a>
</div>

<h2>This site is intended to be used by any individual who wants to share or gain knowledge of accessable locations,
    products, books, podcasts, etc. </h2>