<h1>Create New Allergy</h1>

<form action="/allergy" method="POST"/>
    <input type="text" name="category" placeholder="category"/>
    <input type="text" name="name" placeholder="name"/>
    <input type="text" name="allergyFriendly" placeholder="allergyFriendly" />
    <input type="text" name="vegetarianFriendly" placeholder="vegetarianFriendly" />
    <input type="text" name="veganFriendly" placeholder="veganFriendly" />
    <input type="text" name="ketoFriendly" placeholder="ketoFriendly" />
    <input type="text" name="description" placeholder="description" />
    <input type="text" name="picture" placeholder="picture" />

    <input type="submit" value="Save" />
</form>