<h1>Create New Handicap</h1>

<form action="/handicap" method="POST"/>
    <input type="text" name="category" placeholder="category" />
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="parkingAccessible" placeholder="parkingAccessible" />
    <input type="text" name="bathroomAccessible" placeholder="bathroomAccessible" />
    <input type="text" name="description" placeholder="description" />
    <input type="text" name="picture" placeholder="picture" />

    <input class="allButton" type="submit"    value="Create"/>
</form>
